.about_slideshow {
    position: relative;
}

.about_img--slideshow {
    position: absolute;
    top: 0;
    left: 0;
}

.about_img--slideshow3 {
    animation: animation-about_img--slideshow3 ease-in-out 15s infinite;
    /* transition-delay: 1s; */
}

@keyframes animation-about_img--slideshow3 {
    2.5% {
        opacity: 1;
    }

    22.5% {
        opacity: 1;
    }

    27.5% {
        opacity: 0;
    }

    97.5% {
        opacity: 0;
    }
}

.about_img--slideshow2 {
    animation: animation-about_img--slideshow2 ease-in-out 15s infinite;

}

@keyframes animation-about_img--slideshow2 {
    0% {
        opacity: 1;
    }

    47.5% {
        opacity: 1;
    }

    52.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.about_img--slideshow1 {
    animation: animation-about_img--slideshow1 ease-in-out 15s infinite;
}

@keyframes animation-about_img--slideshow1 {
    0% {
        opacity: 1;
    }

    72.5% {
        opacity: 1;
    }

    77.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.about_img {

    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10000rem;
    float: left;
    object-fit: cover;
    shape-outside: circle(50% at 50% 50%);
    margin-right: 2rem;
    margin-left: 1rem;
    box-shadow: 1px -1px 6px 0px #eee;
    padding: 1rem;
}


@media only screen and (min-width: 600px){

    .about_img {
        width: 12rem;
        height: 12rem;
      }
}
@media only screen and (min-width: 1000px) {
    .about_img {
        width: 18rem;
        height: 18rem;
      }
  }